
@font-face {
  font-family: 'BMitra';
  src: url('/Content/fonts/BMitra.eot?#') format('eot'), 
       url('/Content/fonts/BMitra.woff') format('woff'),  
       url('/Content/fonts/BMitra.ttf') format('truetype');
}
/*@font-face {
    font-family: 'BYekan';
    src: url('/Content/fonts/Yekan.eot') format('embedded-opentype'), url('/Content/fonts/Yekan.woff') format('woff'),
         url('/Content/fonts/Yekan.svg') format('svg'), url('/Content/fonts/Yekan.ttf') format('truetype');
}*/
@font-face {
  font-family: 'BYekan';
  src: url('/Content/fonts/BYekan.eot?#') format('eot'), 
       url('/Content/fonts/BYekan.woff') format('woff'), 
       url('/Content/fonts/BYekan.ttf') format('truetype'); 
}


